<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    

    <script src="https://kit.fontawesome.com/e54097716f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="home.css">

    <title>CONNECT</title>
</head>
<body>
    <!-- <div class="homeMain">
        <div class="homeHeader">
            <h1>CONNECT......</h1>
            <p></p>
        </div>
        <div class="joinButton">
            <a href="room">START MEETING</a>
        </div>
    </div> -->

    <div class="container">
        <div class="navLogo">
            <i class="fa-solid fa-earth-asia"></i>
        </div>


        <div class="row">
            <div class="col">
                <div class="textBox">
                    <h1>Connect</h1>
                    <h2><b>Premium</b> video meetins.Now <b>free</b> for everyone.</h2>
                    <a href="room">START MEETING</a>
                </div>
            </div>
            <div class="col">
                <div class="galleryBox">
                    <img src="/assets/worldmap.svg" alt="">
                </div>
            </div>
        </div>
    </div>

    
    
    
</body>
</html>