*{
    margin: 0;
    padding: 0;
}


#video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

video{
    height: 300px;
    width: 400px;
    object-fit: cover;
}


.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.top{
    height: 90%;
    display: flex;
}

.mainLeft{
    width: 80%;
    height: 100%;
    background: #343434;
}



.mainRight{
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #242324;
    border-left: 1px solid #3d3d42;
}

.mainHeader{
    display: flex;
    color: #f5f5f5;
    text-align: left;
    align-items: center;
    padding-left: 40px;
    padding-top: 20px;
}

.mainHeader h1{
    font-size: 20px;
}

.mainChatWindow{
    flex-grow: 1;
    overflow-y: scroll;
}

.mainChatWindow::-webkit-scrollbar{
    width: 10px;
}

.mainChatWindow::-webkit-scrollbar-thumb{
    background: rgb(20, 20, 20);
    transition: 0.3s all ease-in-out;
    border-radius: 100vw;
}

.mainChatWindow::-webkit-scrollbar-thumb:hover{
    background: rgb(31, 31, 31);
}

.mainChatWindow::-webkit-scrollbar-track{
    background: transparent;
}

.mainMessageContainer{
    height: 70px;
    border-top: 1px solid #3d3d42;
    padding: 22px 12px;
    display: flex;
}

.mainMessageContainer input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #f5f5f5;
}

.messages{
    color: white;
    list-style: none;
}

.messages li{
    padding: 5px 10px;
}
















.bottom{
    height: 10%;
    width: 100%;
}

.mainControls{
    height: 100%;
    display: flex;
    background-color: #1c1e20;
    color: #d2d2d2;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #3d3d42;
}

.mainControlsBlock{
    display: flex;
}

.mainControlsButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.mainControlsButton i {
    font-size: 18px;
    padding-bottom: 3px;
}

.leaveMeeting{
    color: #eb534e;
}


.mainControlsButton:hover{
    background-color: #343434;
    border-radius: 5px;
}

.mainControlsButton span{
    font-size: 14px;
}