*{
    margin: 0;
    padding: 0;
}


#video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

video{
    height: 300px;
    width: 400px;
    object-fit: cover;
}


.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.top{
    height: 100%;
    width: 100%;
    display: flex;
}

.mainLeft{
    width: 80%;
    height: 100%;
    background: #343434;
}
















.bottom{
    position: fixed;
    bottom: 0%;
    width: 100%;
}

.main_controls{
    display: flex;
    background-color: #1c1e20;
    color: #d2d2d2;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #3d3d42;
}

.main_controls_block{
    display: flex;
}

.main_controls_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.main_controls_button i {
    font-size: 18px;
    padding-bottom: 3px;
}

.leave_meeting{
    color: #eb534e;
}


.main_controls_button:hover{
    background-color: #343434;
    border-radius: 5px;
}

.main_controls_button span{
    font-size: 14px;
}